.App {
  text-align: center;
}
.underline {
  background: #cbcdff;
  height: 6px;
  width: 6rem;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 50rem;
}
.btn-lightblue {
  background: #70acff;
  color: #fff;
}
.btn-lightblue:hover {
  background: #559cff;
  color: #000000;
}
.btn-darkblue {
  background: #5174c9;
  color: #fff;
}
.btn-darkblue:hover {
  background: #234fc0;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img {
  user-select: none !important;
}
.outline-none {
  outline: none !important;
}
.h-77vh {
  min-height: 77vh;
}
.h-100vh {
  min-height: 92.2vh;
}
.h-m-screen {
  min-height: 100vh;
}
.success-img {
  max-width: 30rem;
  width: 100%;
}
.text-darkblue {
  color: #3f47a9;
}
.bg-red {
  background: #f91944;
}
@media only screen and (max-width: 688px) {
  .border-end-0-xssm {
    border-right: 0px !important;
  }
}
